/* google fonts linki */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

::selection {
    color: #8fd32f;
    /* background: transparent; */
    background-color: transparent;
  }


html {
    scroll-behavior: smooth;
    overflow: auto;
  }

.containerr {
    width: 90%;
    margin: auto;
}
body {
    margin: 0 !important;
    padding: 0 !important;
    transition: 0.2s;
}
.nav-link {
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
}
#more-btn {
    float: right !important;
    color: #fff;
}

#nav-fir {
    position: sticky;
    top: 0px;
    z-index: 404;
}

#menu {
    position: absolute; 
    right: 0;
    top: 20px;
    cursor: pointer;
    visibility: visible;
}

section {
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    position: absolute;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    visibility: hidden;

    background-color: rgb(0, 0, 0);
}
body.active {
    background-color: #000;
}
section ul li {
    list-style: none;
    /* border: solid 1px #7DBA28; */
    /* background-image: linear-gradient(114deg, #7DBA28 0, #7DBA28 50%, #7DBA28 100%); */
    transition: 0.2s;
}
section ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 23px;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px 12px;
}
section ul li a:hover {
    transition: 0.3s;
    text-decoration: none !important;
    color: #fff;
    transition: 0.2s;
}
section ul li:hover {
    background-color: #7DBA28;
    text-shadow: #000 5px 5px 10px;
}
section.active {
    visibility: visible;
}

#icon-in-nav {
    transition: 0.5s all;
}
#icon-in-nav.active {
    transition: 0.5s all;
    transform: rotate(180deg);
}


#more-btn-2 i {
    margin-left:10px;
    color: #fff;
    text-decoration: none;
}

#more-btn-2 span {
    color: #fff;
    text-decoration: none !important;
}
#more-btn-2 a:hover {
    text-decoration: none !important;
}

header {
    width: 100%;
    height: 90vh;
    /* background-image: url(./imgs/rasm1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

header.active{
    visibility: hidden;
}


#it-center-txt {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    text-transform: 10px -10px 2px #000;
    display: fixed;
    text-align: center;
    /* position: relative; */
    font-weight: 900 !important;
    font-size: 50px;
    padding-top: 100px;
    font-size: 70px;
}
#it-center-p-txt {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    /* display: flex; */
    /* float: right; */
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    font-weight: 800;
    /* align-items: center; */
}
#headerRoyhatdanOtish {
    color: #fff;
    font-size: 30px;
    text-decoration: none !important;
    border: rgba(0, 0, 0, 0.37) 2px solid;
    padding: 5px 13px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.561);
}
#headerRoyhatdanOtish:hover {
    background-color: #8fd32f;
    border: #8fd32f 2px solid;
    transition: 0.3s;
}
.button-cen {
    text-align: center;
    padding-top: 90px;
}

/* #it-center-txt {
    visibility: hidden;
} */

.ochiq-joy {
    height: 100vh;
    background-image: url(./imgs/bosh-joy.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
}
.ochiq-joy.active{
    opacity: 0;
    visibility: hidden;
}
.bottom {
    padding-bottom: 180px;
}

#bulimlar {
    background-color: #e7dede;
}

.card {
    margin: 0px 10px;
}
/* cardlar style lari */

.cards {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .cards {
        display: block;
    }
    .card {
        width: 100% !important;
    }
}

@media (max-width: 680px) {
    .navLinks {
        display: none;
    }
    .navbar-brand img {
        width: 150px !important;
    }
    #menu img {
        width: 30px;
    }
    #more-btn-2 span {
        display: none;
    }
    #more-btn-2 i {
        margin: 0;
    }
    #it-center-txt {
        padding-top: 90px;
        font-size: 40px;
    }
    #it-center-p-txt {
        font-size: 25px;
        padding-top: 70px;
    }
}

@media (max-width: 410px) {
    #more-btn-2 {
        display: none;
        transform: rotate(90deg);
    }
    section ul li a {
        font-size: 6.2vw;
        letter-spacing: 1px;
    }
}


